venv/
t.yaml
.env
.coverage
api/.coverage
pytestdebug.log
.pytest_cache
mixins
__pycache__/
db.sqlite3
.idea/
*.py[cod]
.cache
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
